body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 31.25rem;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .inputForm {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    background-color: #2f80ed;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  .error-message {
    color: #f00;
    font-size: 1rem;
    margin-top: -5px;
  }

