<form (ngSubmit)="saveData()">
  <h1>Formulário</h1>
  <div>
    <label>Nome:</label>
    <input
      class="inputForm"
      type="text"
      [(ngModel)]="name"
      name="name"
      required
      placeholder="Digite seu nome"
    />
  </div>
  <div>
    <label>Sobrenome:</label>
    <input
      class="inputForm"
      type="text"
      [(ngModel)]="lastName"
      name="last-name"
      required
      placeholder="Digite seu sobrenome"
    />
  </div>
  <div>
    <label>Idade:</label>
    <input
      class="inputForm"
      type="number"
      [(ngModel)]="age"
      name="age"
      required
      placeholder="Digite sua idade"
    />
  </div>
  <div>
    <label>Sexo:</label>
    <select class="inputForm" [(ngModel)]="gender" name="gender" required>
      <option value="N">Não informado</option>
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
    </select>
  </div>
  <div>
    <label>Data de nascimento:</label>
    <input
      class="inputForm"
      type="date"
      [(ngModel)]="bornDate"
      name="born-date"
      required
    />
  </div>
  <p *ngIf="formEmpty" class="error-message">Preencha todos os campos acima.</p>
  <form>
    <input
      type="checkbox"
      [(ngModel)]="checkBox"
      name="check-box"
      value="email"
    />
    <label for="email">Receber email</label>
  </form>
  <form>
    <label>
      <input type="radio" name="status" [(ngModel)]="status" value="valor 0" />
      Ativo
    </label>

    <label>
      <input type="radio" name="status" [(ngModel)]="status" value="valor 1" />
      Inativo
    </label>
  </form>

  <button type="submit">Salvar dados</button>
</form>
